/* CSS reset properties */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    background-color: rgb(26, 26, 26);
    color: white !important;
    font-family: Lexend, sans-serif;
}

#main-container {
    max-width: 1100px;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/* Navbar style */

.desktop-nav,
.right-btns {
    display: none;
}

header {
    padding: .5rem;
    background-color: #1C1C1C;
    position: fixed;
    top: .8rem;
    width: 90vw;
    margin: 0 auto;
    border: 1px solid #333333;
    border-radius: 999px;
    z-index: 8;
}

.logo img {
    width: 90px;
}

.menu-icon {
    padding: .2rem .7rem;
    background-color: #CAFF33;
    border-radius: 99px;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    background-color: #CAFF33;
    height: 100vh;
    padding: 1.2rem;
    background: rgb(26, 26, 26);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease, visibility .3s;
}

.show-nav {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
}

.mobile-navbar-close {
    width: 40px;
}

.flex {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 2rem;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
}

.unfill-btn {
    outline: none;
    color: white;
    border: none;
    background: none;
    border-radius: 999px;
    padding: .5rem 1.3rem;

}

.filled-btn {
    border: none;
    outline: none;
    padding: .5rem 1.3rem;
    background: #CAFF33;
    border-radius: 999px;
}

.mobile-links a {
    padding: 1rem;
}

.fic {
    margin-top: 90px;
}

a.active-link {
    background-color: #262626;
    border-radius: 999px;
    border: 1px solid #333333;

}

/* Banner section style */

.banner {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banner>.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.open-account {
    align-self: center;
    padding: 1rem 1.2rem;
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
}

.banner-promise {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: .5rem;
    border-radius: 999px;
    background-color: #262626;
    font-size: 12px;
}

.banner-promise svg {
    fill: #CAFF33;
    border-radius: 999px;

}

.colored-text {
    color: #CAFF33;
}

h1 {
    font-weight: 500;
    font-size: 28px;
}

.banner .presentation {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: #E4E4E7;
}

/* Right part of banner */

.banner .top-title {
    font-size: .6rem;
    font-weight: 400;
    text-align: left;
    margin: .8rem 0;
}

.positionned-div {
    display: flex;
    gap: .2rem;
    align-items: center;
    padding: .1rem .4rem;
    position: absolute;
    top: -2rem;
    left: -1rem;
    background: #22251B;
    border-radius: 12px;
}

.right-top {
    position: relative;
}

.plus-icon {
    background-color: #CAFF33;
    display: flex;
    align-items: center;
    padding: .1rem;
    border-radius: 99px;
}

.plus-icon svg {
    width: 100%;
    fill: black;
}

.positionned-div-right {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    padding: .4rem;
}

.positionned-div-right .price {
    font-weight: 500;
    font-size: 12px;
}

.positionned-div-right .mi {
    font-weight: 300;
    font-size: 10px;
}

.banner .right-top {
    padding: .5rem;
    border: 1px solid #262626;
    border-radius: 12px;
    width: 95%;
    margin: 2rem auto;
}

.transaction-item {
    display: flex;
    text-align: left;
    gap: .3rem;
    padding: .7rem;
    border-radius: 12px;
    border: 1px solid #262626;
}

.transaction-item div {
    flex: 1;
}

.transaction-title {
    font-weight: 300;
    font-size: 12px;
}

.transaction-detail {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.transaction-icon {
    background-color: #CAFF33;
    padding: .4rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
}

.transaction-icon svg {
    fill: black;
    height: 12px;
}

.transaction-item:nth-child(1) {
    background: #1C1C1C;
    /* background-color: rgb(97, 107, 116); */
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
}

.transaction-item:nth-child(2) {
    background: #1B1B1B;
    opacity: .6;
    position: absolute;
    top: 3rem;
    left: .8rem;
    right: .8rem;
    z-index: 4;
}

.transaction-item:nth-child(3) {
    background: #1A1A1A;
    opacity: 0.2;
    position: absolute;
    top: 6rem;
    left: 1.5rem;
    right: 1.5rem;
    z-index: 3;
}

.transaction-container {
    position: relative;
    margin-bottom: 2rem;
    height: 130px;
    z-index: 2;
}

.exchange-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1C1C1C;
}

.exchange-item .top,
.exchange-container .bottom {
    padding: 1rem;
    border: 1px solid #262626;
}

.exchange-item .pays {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.exchange-item:first-of-type .top {
    border-top-left-radius: 12px;
}

.exchange-item:first-of-type .bottom {
    border-bottom-left-radius: 12px;
}

.exchange-item:last-of-type .top {
    border-top-right-radius: 12px;
    /* background: wheat; */
}

.exchange-item:last-of-type .bottom {
    border-bottom-right-radius: 12px;
}

.exchange-btn {
    outline: none;
    border: none;
    margin-block: 1.2rem;
    padding: .6rem 1.5rem;
    width: 100%;
    border-radius: 99px;
    background-color: #22251B;
    color: #CAFF33;
}

.right .right-bottom {
    display: flex;
    background-color: #22251B;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    padding: .3rem .6rem;
    margin-bottom: 1rem;
    border-radius: 99px;
    gap: .8rem;
}

.right .right-bottom .title {
    font-size: 12px;
    font-weight: 400;
}

.right .right-bottom .supported-currency {
    background: #191919;
    padding: .4rem .6rem;
    border-radius: 999px;
    display: flex;
    gap: .3rem;
    align-items: center;
}

.supported-currency .currency-icon {
    background-color: #262626;
    padding: .3rem .4rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
}

.products-section {
    margin-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.product-section-header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product-section-header p {
    font-size: 15px;
    text-align: justify;
    font-weight: 200;
    line-height: 1.5;
    text-align-last: center;
    padding: .5rem;
    /* color: #B3B3B3; */
}

.product-btns {
    display: flex;
    gap: .8rem;
    justify-content: center;
    padding: .6rem;
    border-radius: 999px;
    background-color: #1C1C1C;
    width: fit-content;
    border: 1px solid #262626;
    margin: 0 auto;
}

.product-btns button {
    border: none;
    outline: none;
    padding: .8rem 1rem;
    border-radius: 999px;
    background-color: #1C1C1C;
    font-weight: 500;
    color: white;
}

.products-section .product-btns .active {
    background-color: #CAFF33;
    font-weight: 500;
    color: #1C1C1C;
}

.product-row {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.product-row .product-item {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    font-size: 13px;
    font-weight: 200;
    padding: 1rem;
}

.product-row .product-item:nth-child(2) {
    border-block: 1px solid #262626;
}

.product-item-icon {
    background: linear-gradient(to top, #c9ff3300, #c9ff3322);
    margin: 0 auto;
    padding: .6rem;
    border-radius: 999px;
    display: flex;
}

.product-item-icon svg,
.product-item-icon img {
    padding: .7rem;
    border-radius: 999px;
    background: linear-gradient(to top, #c9ff3300, #c9ff333e);

}

.product-row .item-title {
    font-weight: 400;
    font-size: 18px;
}

/* USE CASE SECTION */

.usecase-section {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.usecase-section-intro {
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 1rem;
}

.usecase-line {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.usecase-line .text-zone {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    justify-content: center;
}

.analytics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.analytics div {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.analytics div:nth-child(2) {
    border-block: 1px dashed #262626;
}

.analytics div .colored-text {
    font-size: 24px;
    font-weight: bold;
}

.analytics div p {
    font-weight: 200;
    font-size: 12px;
}

.learn-more-btn {
    padding: .8rem 1rem;
    border: none;
    outline: none;
    border-radius: 999px;
    width: fit-content;
    margin: 0 auto;
    background: #1C1C1C;
    border: 1px solid #262626;
    color: white;
}

.usecase-line .illustration-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    font-weight: 400;
    gap: .7rem;
    padding: .8rem;
    background-color: #1C1C1C;
    border-radius: 12px;
}

.illustration-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .6rem;
    padding: .8rem;
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 8px;
}

.usecase-description {
    font-weight: 200;
    font-size: 12px;
}

@media screen and (min-width:1024px) {

    .mobile-nav,
    .menu-icon {
        display: none;
    }

    .right-btns,
    .desktop-nav {
        display: flex;
    }

    .navbar-container {
        display: flex;
        align-items: center;
    }

    .desktop-nav {
        height: 100%;
    }

    .desktop-nav a {
        padding: .5rem 1rem;
    }

    header {
        padding: .7rem 1rem;
        top: 1rem;
        max-width: 1100px;
    }

    .banner {
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        padding-top: 150px;

    }

    .banner>.left {
        width: 50%;
    }

    .banner>.right {
        width: 40%;
    }

    .banner>.left {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
    }

    .banner .right-top {
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

    .banner .top-title {
        font-size: .8rem;
    }

    .open-account {
        align-self: flex-start;
    }

    /* OUR PRODUCT SECTION */


    .products-section h2 {
        text-align: left;
        font-size: 25px;
    }

    .product-section-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-btns {
        width: fit-content;
        margin-left: auto;
        margin: 0;
    }

    .product-section-header p {
        width: 60%;
        text-align: left;
        text-align-last: left;
        padding: 0;
    }

    .product-row {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 4rem;
    }

    .product-row .product-item {
        flex: 1;
        padding: 0;
        font-weight: 200;
        line-height: 1.6;
        font-size: .9rem;
    }

    .product-row .product-item.product-item:nth-child(2) {
        border-block: none;
        border-inline: 1px solid #262626;
        padding: 0 1rem;
    }

    .product-btns {
        font-size: 1.5rem;
    }

    /* USE CASE SECTION */

    .usecase-section {
        text-align: left;
        gap: 2rem;
    }

    .usecase-section-intro {
        font-weight: 200;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .usecase-line {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .usecase-line .text-zone,
    .usecase-line,
    .illustration-section {
        flex: 1 0 40%;
    }

    .usecase-line .text-zone {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        justify-content: space-between;
    }

    .analytics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .analytics div {
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        text-align: center;
        gap: 1rem;
    }

    .analytics div:nth-child(2) {
        border-block: none;
        border-inline: 1px dashed #262626;
    }

    .analytics div .colored-text {
        font-size: 24px;
        font-weight: bold;
    }

    .analytics div p {
        font-weight: 200;
        font-size: 12px;
    }

    .learn-more-btn {
        padding: .8rem 1rem;
        border: none;
        outline: none;
        border-radius: 999px;
        width: fit-content;
        background: #1C1C1C;
        border: 1px solid #262626;
        color: white;
        text-align: left;
        margin: 0;
    }

    .usecase-line .illustration-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 14px;
        font-weight: 400;
        gap: .7rem;
        padding: 1.3rem;
        background-color: #1C1C1C;
        border-radius: 12px;
    }

    .illustration-section div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .6rem;
        padding: 1.3rem 1rem;
        background-color: #191919;
        border: 1px solid #262626;
        border-radius: 8px;
    }

    .usecase-description {
        font-weight: 300;
        font-size: 14px;
    }

    .usecase-title {
        font-weight: 500;
        font-size: 16px;
    }
}